<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hashuser.mapper.HashUserMapper">

    <resultMap type="HashUser" id="HashUserResult">
        <result property="id" column="id"/>
        <result property="userType" column="user_type"/>
        <result property="areaCode" column="area_code"/>
        <result property="phone" column="phone"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="deviceCode" column="device_code"/>
        <result property="platform" column="platform"/>
        <result property="nickName" column="nick_name"/>
        <result property="head" column="head"/>
        <result property="status" column="status"/>
        <result property="online" column="online"/>
        <result property="invitationCode" column="invitation_code"/>
        <result property="fatherInvitationCode" column="father_invitation_code"/>
        <result property="registerTime" column="register_time"/>
        <result property="bindTime" column="bind_time"/>
        <result property="registerIp" column="register_ip"/>
        <result property="loginTime" column="login_time"/>
        <result property="loginIp" column="login_ip"/>
        <result property="inAmount" column="in_amount"/>
        <result property="outAmount" column="out_amount"/>
        <result property="betMount" column="bet_amount"/>

        <result property="usdtAmount" column="usdt_amount"/>
        <result property="trxAmount" column="trx_amount"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="promoteOdds" column="promote_odds"/>
        <result property="sharePromoteOdds" column="share_promote_odds"/>

        <result property="noteName" column="note_name"/>
        <result property="tgId" column="tg_id"/>
        <result property="tgAccount" column="tg_account"/>

    </resultMap>

    <sql id="selectHashUserVo">
        select id,
               user_type,
               area_code,
               phone,
               account,
               password,
               device_code,
               platform,
               nick_name,
               head,
               status,
               online,
               invitation_code,
               father_invitation_code,
               register_time,
               bind_time,
               register_ip,
               login_time,
               login_ip,
               promote_odds,
               share_promote_odds,
               note_name,
               tg_id,
               tg_account
        from t_user
    </sql>

    <sql id="selectHashUserEveryDay">
        select u.*, t.betAmount, t.user_id, a.in_amount, b.out_mount
        from t_user u
                 left join
             (select user_id, sum(bet_amount) as betAmount
              from t_game_bet_record
              where create_time BETWEEN CONCAT(CURDATE(), ' 00:00:00') and CONCAT(CURDATE(), ' 23:59:59')
              group by user_id) t on t.user_id = u.id
                 left join
             (select user_id, sum(amount) as in_amount
              from t_wallet_recharge_order
              where create_time BETWEEN CONCAT(CURDATE(), ' 00:00:00') and CONCAT(CURDATE(), ' 23:59:59')
              group by user_id) a on a.user_id = u.id
                 left join
             (select user_id, sum(amount) as out_mount
              from t_wallet_withdraw_order
              where create_time BETWEEN CONCAT(CURDATE(), ' 00:00:00') and CONCAT(CURDATE(), ' 23:59:59')
              group by user_id) b on b.user_id = u.id
    </sql>

    <select id="selectHashUserDetail" parameterType="HashUser" resultMap="HashUserResult">
        <include refid="selectHashUserEveryDay"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
        </where>
    </select>

    <select id="selectHashUserList" parameterType="HashUser" resultMap="HashUserResult">
        <include refid="selectHashUserVo"/>
        <where>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="account != null  and account != ''">and account = #{account}</if>
            <if test="nickName != null  and nickName != ''">and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="online != null ">and online = #{online}</if>
            <if test="registerIp != null ">and register_ip = #{registerIp}</if>
            <if test="id != null ">and id = #{id}</if>
            <if test="invitationCode != null ">and invitation_code = #{invitationCode}</if>
            <if test="fatherInvitationCode != null and fatherInvitationCode != ''">and father_invitation_code =
                #{fatherInvitationCode}
            </if>
        </where>
    </select>


    <select id="selectHashUserListByIds" parameterType="string" resultMap="HashUserResult">
        ${sql}
    </select>

    <select id="selectHashUserById" parameterType="String" resultMap="HashUserResult">
        <!--        <include refid="selectHashUserVo"/>-->
        select a.* ,b.usdt_amount,b.trx_amount ,c.ip_addr from t_user a left JOIN t_wallet_player_data b on a.id=b.id
        LEFT JOIN t_user_ip_register c on a.register_ip=c.ip
        where a.id = #{id}
    </select>

    <insert id="insertHashUser" parameterType="HashUser">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userType != null">user_type,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="phone != null">phone,</if>
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="deviceCode != null">device_code,</if>
            <if test="platform != null">platform,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="head != null">head,</if>
            <if test="status != null">status,</if>
            <if test="online != null">online,</if>
            <if test="invitationCode != null">invitation_code,</if>
            <if test="fatherInvitationCode != null">father_invitation_code,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="bindTime != null">bind_time,</if>
            <if test="registerIp != null">register_ip,</if>
            <if test="loginTime != null">login_time,</if>
            <if test="loginIp != null">login_ip,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userType != null">#{userType},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="phone != null">#{phone},</if>
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="deviceCode != null">#{deviceCode},</if>
            <if test="platform != null">#{platform},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="head != null">#{head},</if>
            <if test="status != null">#{status},</if>
            <if test="online != null">#{online},</if>
            <if test="invitationCode != null">#{invitationCode},</if>
            <if test="fatherInvitationCode != null">#{fatherInvitationCode},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="bindTime != null">#{bindTime},</if>
            <if test="registerIp != null">#{registerIp},</if>
            <if test="loginTime != null">#{loginTime},</if>
            <if test="loginIp != null">#{loginIp},</if>
        </trim>
    </insert>

    <update id="updateHashUser" parameterType="HashUser">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userType != null">user_type = #{userType},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="deviceCode != null">device_code = #{deviceCode},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="head != null">head = #{head},</if>
            <if test="status != null">status = #{status},</if>
            <if test="online != null">online = #{online},</if>
            <if test="invitationCode != null">invitation_code = #{invitationCode},</if>
            <if test="fatherInvitationCode != null">father_invitation_code = #{fatherInvitationCode},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="bindTime != null">bind_time = #{bindTime},</if>
            <if test="registerIp != null">register_ip = #{registerIp},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="noteName != null">note_name = #{noteName},</if>
            <if test="tgId != null">tg_id = #{tgId},</if>
            <if test="tgAccount != null">tg_account = #{tgAccount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHashUserById" parameterType="String">
        delete
        from t_user
        where id = #{id}
    </delete>

    <delete id="deleteHashUserByIds" parameterType="String">
        delete from t_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <sql id="selectStatisticalPromoteVo">
        select id,
               level1_person,
               level2_person,
               level3_person,
               area_code,
               phone,
               nick_name,
               account,
               register_time,
               promote_odds,
               share_promote_odds,
               sumNumber
        from statistical_promote
    </sql>

</mapper>