<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hashuser.mapper.HashUserGlobalConfigMapper">

    <resultMap type="HashUserGlobalConfig" id="HashUserGlobalConfigResult">
        <result property="id" column="id"/>
        <result property="newDomainAddr" column="new_domain_addr"/>
        <result property="onlineServiceAddr" column="online_service_addr"/>
        <result property="groupAddr" column="group_addr"/>
        <result property="regProtocolAddr" column="reg_protocol_addr"/>
        <result property="promoteAddr" column="promote_addr"/>
        <result property="iosDownloadAddr" column="ios_download_addr"/>
        <result property="iosVersion" column="ios_version"/>
        <result property="androidDownloadAddr" column="android_download_addr"/>
        <result property="androidVersion" column="android_version"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="blockChainAddr" column="block_chain_addr"/>

    </resultMap>

    <sql id="selectHashUserGlobalConfigVo">
        select id,
               new_domain_addr,
               online_service_addr,
               group_addr,
               reg_protocol_addr,
               promote_addr,
               ios_download_addr,
               ios_version,
               android_download_addr,
               android_version,
               create_time,
               create_by,
               update_time,
               update_by,
               block_chain_addr
        from t_user_global_config
    </sql>

    <select id="selectHashUserGlobalConfigList" parameterType="HashUserGlobalConfig"
            resultMap="HashUserGlobalConfigResult">
        <include refid="selectHashUserGlobalConfigVo"/>
        <where>
        </where>
    </select>

    <select id="selectHashUserGlobalConfigById" parameterType="String" resultMap="HashUserGlobalConfigResult">
        <include refid="selectHashUserGlobalConfigVo"/>
        where id = #{id}
    </select>

    <insert id="insertHashUserGlobalConfig" parameterType="HashUserGlobalConfig">
        insert into t_user_global_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="newDomainAddr != null and newDomainAddr != ''">new_domain_addr,</if>
            <if test="onlineServiceAddr != null and onlineServiceAddr != ''">online_service_addr,</if>
            <if test="groupAddr != null and groupAddr != ''">group_addr,</if>
            <if test="regProtocolAddr != null and regProtocolAddr != ''">reg_protocol_addr,</if>
            <if test="promoteAddr != null">promote_addr,</if>
            <if test="iosDownloadAddr != null">ios_download_addr,</if>
            <if test="iosVersion != null">ios_version,</if>
            <if test="androidDownloadAddr != null">android_download_addr,</if>
            <if test="androidVersion != null">android_version,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="blockChainAddr != null">block_chain_addr,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="newDomainAddr != null and newDomainAddr != ''">#{newDomainAddr},</if>
            <if test="onlineServiceAddr != null and onlineServiceAddr != ''">#{onlineServiceAddr},</if>
            <if test="groupAddr != null and groupAddr != ''">#{groupAddr},</if>
            <if test="regProtocolAddr != null and regProtocolAddr != ''">#{regProtocolAddr},</if>
            <if test="promoteAddr != null">#{promoteAddr},</if>
            <if test="iosDownloadAddr != null">#{iosDownloadAddr},</if>
            <if test="iosVersion != null">#{iosVersion},</if>
            <if test="androidDownloadAddr != null">#{androidDownloadAddr},</if>
            <if test="androidVersion != null">#{androidVersion},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="blockChainAddr != null">#{blockChainAddr},</if>
        </trim>
    </insert>

    <update id="updateHashUserGlobalConfig" parameterType="HashUserGlobalConfig">
        update t_user_global_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="newDomainAddr != null and newDomainAddr != ''">new_domain_addr = #{newDomainAddr},</if>
            <if test="onlineServiceAddr != null and onlineServiceAddr != ''">online_service_addr =
                #{onlineServiceAddr},
            </if>
            <if test="groupAddr != null and groupAddr != ''">group_addr = #{groupAddr},</if>
            <if test="regProtocolAddr != null and regProtocolAddr != ''">reg_protocol_addr = #{regProtocolAddr},</if>
            <if test="promoteAddr != null">promote_addr = #{promoteAddr},</if>
            <if test="iosDownloadAddr != null">ios_download_addr = #{iosDownloadAddr},</if>
            <if test="iosVersion != null">ios_version = #{iosVersion},</if>
            <if test="androidDownloadAddr != null">android_download_addr = #{androidDownloadAddr},</if>
            <if test="androidVersion != null">android_version = #{androidVersion},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="blockChainAddr != null">block_chain_addr = #{blockChainAddr},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHashUserGlobalConfigById" parameterType="String">
        delete
        from t_user_global_config
        where id = #{id}
    </delete>

    <delete id="deleteHashUserGlobalConfigByIds" parameterType="String">
        delete from t_user_global_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>