<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hashuser.mapper.UserPromoteMapper">
    
    <resultMap type="UserPromote" id="UserPromoteResult">
        <result property="id"    column="id"    />
        <result property="level1Person"    column="level1_person"    />
        <result property="level2Person"    column="level2_person"    />
        <result property="level3Person"    column="level3_person"    />
        <result property="areaCode"    column="area_code"    />
        <result property="phone"    column="phone"    />
        <result property="nickName"    column="nick_name"    />
        <result property="account"    column="account"    />
        <result property="registerTime"    column="register_time"    />
        <result property="promoteOdds"    column="promote_odds"    />
        <result property="sharePromoteOdds"    column="share_promote_odds"    />
        <result property="sumnumber"    column="sumNumber"    />
    </resultMap>

    <sql id="selectUserPromoteVo">
        select id, level1_person, level2_person, level3_person, area_code, phone, nick_name, account, register_time, promote_odds, share_promote_odds, sumNumber from statistical_promote
    </sql>


    <select id="selectUserlPromoteById" parameterType="String" resultMap="UserPromoteResult">
        <include refid="selectUserPromoteVo"/>
        where id = #{id}
    </select>

</mapper>