<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hashuser.mapper.UserTelegramMapper">

    <resultMap type="UserTelegram" id="UserTelegramResult">
        <result property="id" column="id"/>
        <result property="tgAccount" column="tg_account"/>
        <result property="tgId" column="tg_id"/>
        <result property="tgName" column="tg_name"/>
        <result property="tgAppId" column="tg_app_id"/>
        <result property="tgType" column="tg_type"/>
        <result property="tgGourp" column="tg_gourp"/>
        <result property="userId" column="user_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectUserTelegramVo">
        select id,
               tg_account,
               tg_id,
               tg_name,
               tg_app_id,
               tg_type,
               tg_gourp,
               user_id,
               status,
               create_time,
               update_time
        from t_user_telegram
    </sql>

    <select id="selectUserTelegramList" parameterType="UserTelegram" resultMap="UserTelegramResult">
        <include refid="selectUserTelegramVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="tgAccount != null  and tgAccount != ''">and tg_account = #{tgAccount}</if>
            <if test="tgId != null  and tgId != ''">and tg_id = #{tgId}</if>
            <if test="tgName != null  and tgName != ''">and tg_name like concat('%', #{tgName}, '%')</if>
            <if test="tgAppId != null  and tgAppId != ''">and tg_app_id = #{tgAppId}</if>
            <if test="tgType != null  and tgType != ''">and tg_type = #{tgType}</if>
            <if test="tgGourp != null  and tgGourp != ''">and tg_gourp = #{tgGourp}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="createTime != null">and DATE_FORMAT(a.create_time,'%Y-%m-%d') = DATE_FORMAT(#{createTime},'%Y-%m-%d')</if>
        </where>
    </select>

    <select id="selectUserTelegramById" parameterType="Long" resultMap="UserTelegramResult">
        <include refid="selectUserTelegramVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserTelegram" parameterType="UserTelegram" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_telegram
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tgAccount != null and tgAccount != ''">tg_account,</if>
            <if test="tgId != null">tg_id,</if>
            <if test="tgName != null">tg_name,</if>
            <if test="tgAppId != null">tg_app_id,</if>
            <if test="tgType != null">tg_type,</if>
            <if test="tgGourp != null">tg_gourp,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tgAccount != null and tgAccount != ''">#{tgAccount},</if>
            <if test="tgId != null">#{tgId},</if>
            <if test="tgName != null">#{tgName},</if>
            <if test="tgAppId != null">#{tgAppId},</if>
            <if test="tgType != null">#{tgType},</if>
            <if test="tgGourp != null">#{tgGourp},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateUserTelegram" parameterType="UserTelegram">
        update t_user_telegram
        <trim prefix="SET" suffixOverrides=",">
            <if test="tgAccount != null and tgAccount != ''">tg_account = #{tgAccount},</if>
            <if test="tgId != null">tg_id = #{tgId},</if>
            <if test="tgName != null">tg_name = #{tgName},</if>
            <if test="tgAppId != null">tg_app_id = #{tgAppId},</if>
            <if test="tgType != null">tg_type = #{tgType},</if>
            <if test="tgGourp != null">tg_gourp = #{tgGourp},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserTelegramById" parameterType="Long">
        delete
        from t_user_telegram
        where id = #{id}
    </delete>

    <delete id="deleteUserTelegramByIds" parameterType="String">
        delete from t_user_telegram where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>