<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hashuser.mapper.UserVersionMapper">

    <resultMap type="UserVersion" id="UserVersionResult">
        <result property="id" column="id"/>
        <result property="downloadUrl" column="download_url"/>
        <result property="platfrom" column="platfrom"/>
        <result property="version" column="version"/>
        <result property="upToVersion" column="up_to_version"/>
        <result property="force" column="is_force"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="versionType" column="version_type"/>
    </resultMap>

    <sql id="selectUserVersionVo">
        select id,
               download_url,
               platfrom,
               version,
               up_to_version,
               is_force,
               create_time,
               update_time,
               version_type
        from t_user_version
    </sql>

    <select id="selectUserVersionList" parameterType="UserVersion" resultMap="UserVersionResult">
        <include refid="selectUserVersionVo"/>
        <where>
            <if test="platfrom != null  and platfrom != ''">and platfrom = #{platfrom}</if>
            <if test="version != null  and version != ''">and version = #{version}</if>
            <if test="upToVersion != null  and upToVersion != ''">and up_to_version = #{upToVersion}</if>
            <if test="force != null  and force != ''">and is_force = #{force}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="versionType != null ">and version_type = #{versionType}</if>
        </where>
    </select>

    <select id="selectUserVersionById" parameterType="Long" resultMap="UserVersionResult">
        <include refid="selectUserVersionVo"/>
        where id = #{id}
    </select>

    <select id="selectUserVersionByVersion" parameterType="String" resultMap="UserVersionResult">
        <include refid="selectUserVersionVo"/>
        where version = #{version}
    </select>

    <insert id="insertUserVersion" parameterType="UserVersion">
        insert into t_user_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="downloadUrl != null">download_url,</if>
            <if test="platfrom != null">platfrom,</if>
            <if test="version != null">version,</if>
            <if test="upToVersion != null">up_to_version,</if>
            <if test="force != null">is_force,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="versionType != null">version_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="downloadUrl != null">#{downloadUrl},</if>
            <if test="platfrom != null">#{platfrom},</if>
            <if test="version != null">#{version},</if>
            <if test="upToVersion != null">#{upToVersion},</if>
            <if test="force != null">#{force},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="versionType != null">#{versionType},</if>
        </trim>
    </insert>

    <update id="updateUserVersion" parameterType="UserVersion">
        update t_user_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="downloadUrl != null">download_url = #{downloadUrl},</if>
            <if test="platfrom != null">platfrom = #{platfrom},</if>
            <if test="version != null">version = #{version},</if>
            <if test="upToVersion != null">up_to_version = #{upToVersion},</if>
            <if test="force != null">is_force = #{force},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="versionType != null">version_type = #{versionType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserVersionById" parameterType="Long">
        delete
        from t_user_version
        where id = #{id}
    </delete>

    <delete id="deleteUserVersionByIds" parameterType="String">
        delete from t_user_version where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>