<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hashUser.mapper.UserMapper">
    
    <resultMap type="User" id="UserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="email"    column="email"    />
        <result property="deviceId"    column="device_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="originType"    column="origin_type"    />
        <result property="originId"    column="origin_id"    />
        <result property="bindTime"    column="bind_time"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="regIp"    column="reg_ip"    />
        <result property="userType"    column="user_type"    />
        <result property="userStatus"    column="user_status"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="vipExpireTime"    column="vip_expire_time"    />
        <result property="isVip"    column="is_vip"    />
    </resultMap>

    <sql id="selectUserVo">
        select id, username, password, phone_number, email, device_id, nick_name, origin_type, origin_id, bind_time, login_ip, reg_ip, user_type, user_status, last_login_time, create_time, vip_expire_time, is_vip from t_user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="bindTime != null "> and bind_time = #{bindTime}</if>
            <if test="userType != null "> and user_type = #{userType}</if>
            <if test="userStatus != null "> and user_status = #{userStatus}</if>
            <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
            <if test="vipExpireTime != null "> and vip_expire_time = #{vipExpireTime}</if>
            <if test="isVip != null "> and is_vip = #{isVip}</if>
        </where>
    </select>
    
    <select id="selectUserById" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUser" parameterType="User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="email != null">email,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="originType != null">origin_type,</if>
            <if test="originId != null">origin_id,</if>
            <if test="bindTime != null">bind_time,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="regIp != null">reg_ip,</if>
            <if test="userType != null">user_type,</if>
            <if test="userStatus != null">user_status,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="vipExpireTime != null">vip_expire_time,</if>
            <if test="isVip != null">is_vip,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="email != null">#{email},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="originType != null">#{originType},</if>
            <if test="originId != null">#{originId},</if>
            <if test="bindTime != null">#{bindTime},</if>
            <if test="loginIp != null">#{loginIp},</if>
            <if test="regIp != null">#{regIp},</if>
            <if test="userType != null">#{userType},</if>
            <if test="userStatus != null">#{userStatus},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="vipExpireTime != null">#{vipExpireTime},</if>
            <if test="isVip != null">#{isVip},</if>
         </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="email != null">email = #{email},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="originType != null">origin_type = #{originType},</if>
            <if test="originId != null">origin_id = #{originId},</if>
            <if test="bindTime != null">bind_time = #{bindTime},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="regIp != null">reg_ip = #{regIp},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="userStatus != null">user_status = #{userStatus},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="vipExpireTime != null">vip_expire_time = #{vipExpireTime},</if>
            <if test="isVip != null">is_vip = #{isVip},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="String">
        delete from t_user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from t_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>