<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.operation.mapper.DkConfigFileMapper">

    <resultMap type="DkConfigFile" id="DkConfigFileResult">
        <result property="id" column="id"/>
        <result property="json" column="json"/>
        <result property="upOssList" column="up_oss_list"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectDkConfigFileVo">
        select id, json, up_oss_list, create_time
        from dk_config_file
    </sql>

    <select id="selectDkConfigFileList" parameterType="DkConfigFile" resultMap="DkConfigFileResult">
        <include refid="selectDkConfigFileVo"/>
        <where>
            <if test="upOssList != null  and upOssList != ''">and up_oss_list = #{upOssList}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
        </where>
    </select>

    <select id="selectDkConfigFileById" parameterType="Long" resultMap="DkConfigFileResult">
        <include refid="selectDkConfigFileVo"/>
        where id = #{id}
    </select>

    <insert id="insertDkConfigFile" parameterType="DkConfigFile" useGeneratedKeys="true" keyProperty="id">
        insert into dk_config_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="json != null and json != ''">json,</if>
            <if test="upOssList != null and upOssList != ''">up_oss_list,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="json != null and json != ''">#{json},</if>
            <if test="upOssList != null and upOssList != ''">#{upOssList},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateDkConfigFile" parameterType="DkConfigFile">
        update dk_config_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="json != null and json != ''">json = #{json},</if>
            <if test="upOssList != null and upOssList != ''">up_oss_list = #{upOssList},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDkConfigFileById" parameterType="Long">
        delete
        from dk_config_file
        where id = #{id}
    </delete>

    <delete id="deleteDkConfigFileByIds" parameterType="String">
        delete from dk_config_file where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>