<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.operation.mapper.GameOperationActivityMapper">
    
    <resultMap type="GameOperationActivity" id="GameOperationActivityResult">
        <result property="id"    column="id"    />
        <result property="json"    column="json"    />
        <result property="isOpen"    column="is_open"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectGameOperationActivityVo">
        select id, json, is_open, create_time, update_time from t_game_operation_activity
    </sql>

    <select id="selectGameOperationActivityList" parameterType="GameOperationActivity" resultMap="GameOperationActivityResult">
        <include refid="selectGameOperationActivityVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="isOpen != null "> and is_open = #{isOpen}</if>
        </where>
    </select>
    
    <select id="selectGameOperationActivityById" parameterType="Long" resultMap="GameOperationActivityResult">
        <include refid="selectGameOperationActivityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGameOperationActivity" parameterType="GameOperationActivity">
        insert into t_game_operation_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="json != null">json,</if>
            <if test="isOpen != null">is_open,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="json != null">#{json},</if>
            <if test="isOpen != null">#{isOpen},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateGameOperationActivity" parameterType="GameOperationActivity">
        update t_game_operation_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="json != null">json = #{json},</if>
            <if test="isOpen != null">is_open = #{isOpen},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameOperationActivityById" parameterType="Long">
        delete from t_game_operation_activity where id = #{id}
    </delete>

    <delete id="deleteGameOperationActivityByIds" parameterType="String">
        delete from t_game_operation_activity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>