<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.game.mapper.GameBetRecordMapper">

    <resultMap type="GameBetRecord" id="GameBetRecordResult">
        <result property="id" column="id"/>
        <result property="configId" column="config_id"/>
        <result property="gameId" column="game_id"/>
        <result property="sessionId" column="session_id"/>
        <result property="userId" column="user_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="odds" column="odds"/>
        <result property="betWalletType" column="bet_wallet_type"/>
        <result property="betAmount" column="bet_amount"/>
        <result property="betPosition" column="bet_position"/>
        <result property="awardAmount" column="award_amount"/>
        <result property="taxAmount" column="tax_amount"/>
        <result property="hashValue" column="hash_value"/>
        <result property="betResult" column="bet_result"/>
        <result property="rewardStatus" column="reward_status"/>
        <result property="winner" column="winner"/>
        <result property="gameCollect" column="game_collect"/>
        <result property="createTime" column="create_time"/>
        <result property="finishTime" column="finish_time"/>
        <result property="incomeAmount" column="income_amount"/>
        <result property="awardCallback" column="award_callback"/>
        <result property="note" column="note"/>
        <result property="winAmount" column="win_amount"/>
    </resultMap>

    <sql id="selectGameBetRecordVo">
        select id,
               config_id,
               game_id,
               session_id,
               user_id,
               nick_name,
               odds,
               bet_wallet_type,
               bet_amount,
               bet_position,
               award_amount,
               tax_amount,
               hash_value,
               bet_result,
               reward_status,
               winner,
               game_collect,
               create_time,
               finish_time,
               income_amount,
               award_callback,
               note,
               win_amount
        from t_game_bet_record
    </sql>

    <select id="selectGameBetRecordList" parameterType="GameBetRecord" resultMap="GameBetRecordResult">
        <include refid="selectGameBetRecordVo"/>
        <where>
            <if test="id != null and id !='' ">and id = #{id}</if>
            <if test="gameId != null and gameId !='' ">and game_id = #{gameId}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="nickName != null  and nickName != ''">and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="odds != null ">and odds = #{odds}</if>
            <if test="betWalletType != null  and betWalletType != ''">and bet_wallet_type = #{betWalletType}</if>
            <if test="betAmount != null ">and bet_amount = #{betAmount}</if>
            <if test="taxAmount != null ">and tax_amount = #{taxAmount}</if>
            <if test="hashValue != null  and hashValue != ''">and hash_value = #{hashValue}</if>
            <if test="betResult != null ">and bet_result = #{betResult}</if>
            <if test="rewardStatus != null ">and reward_status = #{rewardStatus}</if>
            <if test="winner != null ">and winner = #{winner}</if>
            <if test="createTime != null ">and create_time >= #{createTime}</if>
            <if test="finishTime != null ">and finish_time >= #{finish_time}</if>
            <if test="awardCallback != null ">and award_callback = #{awardCallback}</if>
        </where>
    </select>

    <select id="selectGameBetRecordById" parameterType="String" resultMap="GameBetRecordResult">
        <include refid="selectGameBetRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertGameBetRecord" parameterType="GameBetRecord">
        insert into t_game_bet_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="configId != null">config_id,</if>
            <if test="gameId != null">game_id,</if>
            <if test="sessionId != null">session_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="odds != null">odds,</if>
            <if test="betWalletType != null">bet_wallet_type,</if>
            <if test="betAmount != null">bet_amount,</if>
            <if test="betPosition != null">bet_position,</if>
            <if test="awardAmount != null">award_amount,</if>
            <if test="taxAmount != null">tax_amount,</if>
            <if test="hashValue != null">hash_value,</if>
            <if test="betResult != null">bet_result,</if>
            <if test="rewardStatus != null">reward_status,</if>
            <if test="winner != null">winner,</if>
            <if test="gameCollect != null">game_collect,</if>
            <if test="createTime != null">create_time,</if>
            <if test="finishTime != null">finish_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="configId != null">#{configId},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="sessionId != null">#{sessionId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="odds != null">#{odds},</if>
            <if test="betWalletType != null">#{betWalletType},</if>
            <if test="betAmount != null">#{betAmount},</if>
            <if test="betPosition != null">#{betPosition},</if>
            <if test="awardAmount != null">#{awardAmount},</if>
            <if test="taxAmount != null">#{taxAmount},</if>
            <if test="hashValue != null">#{hashValue},</if>
            <if test="betResult != null">#{betResult},</if>
            <if test="rewardStatus != null">#{rewardStatus},</if>
            <if test="winner != null">#{winner},</if>
            <if test="gameCollect != null">#{gameCollect},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="finishTime != null">#{finish_time},</if>
        </trim>
    </insert>

    <update id="updateGameBetRecord" parameterType="GameBetRecord">
        update t_game_bet_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="configId != null">config_id = #{configId},</if>
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="odds != null">odds = #{odds},</if>
            <if test="betWalletType != null">bet_wallet_type = #{betWalletType},</if>
            <if test="betAmount != null">bet_amount = #{betAmount},</if>
            <if test="betPosition != null">bet_position = #{betPosition},</if>
            <if test="awardAmount != null">award_amount = #{awardAmount},</if>
            <if test="taxAmount != null">tax_amount = #{taxAmount},</if>
            <if test="hashValue != null">hash_value = #{hashValue},</if>
            <if test="betResult != null">bet_result = #{betResult},</if>
            <if test="rewardStatus != null">reward_status = #{rewardStatus},</if>
            <if test="winner != null">winner = #{winner},</if>
            <if test="gameCollect != null">game_collect = #{gameCollect},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameBetRecordById" parameterType="String">
        delete
        from t_game_bet_record
        where id = #{id}
    </delete>

    <delete id="deleteGameBetRecordByIds" parameterType="String">
        delete from t_game_bet_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>