<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.game.mapper.GameGlobalConfigMapper">

    <resultMap type="GameGlobalConfig" id="GameGlobalConfigResult">
        <result property="id" column="id"/>
        <result property="usdtPoolAmount" column="usdt_pool_amount"/>
        <result property="trxPoolAmount" column="trx_pool_amount"/>
        <result property="calcPromoteTime" column="calc_promote_time"/>
        <result property="brokerageUsdtLimit" column="brokerage_usdt_limit"/>
        <result property="brokerageTrxLimit" column="brokerage_trx_limit"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectGameGlobalConfigVo">
        select id,
               usdt_pool_amount,
               trx_pool_amount,
               calc_promote_time,
               brokerage_usdt_limit,
               brokerage_trx_limit,
               create_time,
               create_by,
               update_time,
               update_by
        from t_game_global_config
    </sql>

    <select id="selectGameGlobalConfigList" parameterType="GameGlobalConfig" resultMap="GameGlobalConfigResult">
        <include refid="selectGameGlobalConfigVo"/>
        <where>
        </where>
    </select>

    <select id="selectGameGlobalConfigById" parameterType="String" resultMap="GameGlobalConfigResult">
        <include refid="selectGameGlobalConfigVo"/>
        where id = #{id}
    </select>

    <insert id="insertGameGlobalConfig" parameterType="GameGlobalConfig">
        insert into t_game_global_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="usdtPoolAmount != null">usdt_pool_amount,</if>
            <if test="trxPoolAmount != null">trx_pool_amount,</if>
            <if test="calcPromoteTime != null">calc_promote_time,</if>
            <if test="brokerageUsdtLimit != null">brokerage_usdt_limit,</if>
            <if test="brokerageTrxLimit != null">brokerage_trx_limit,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="usdtPoolAmount != null">#{usdtPoolAmount},</if>
            <if test="trxPoolAmount != null">#{trxPoolAmount},</if>
            <if test="calcPromoteTime != null">#{calcPromoteTime},</if>
            <if test="brokerageUsdtLimit != null">#{brokerageUsdtLimit},</if>
            <if test="brokerageTrxLimit != null">#{brokerageTrxLimit},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateGameGlobalConfig" parameterType="GameGlobalConfig">
        update t_game_global_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="usdtPoolAmount != null">usdt_pool_amount = #{usdtPoolAmount},</if>
            <if test="trxPoolAmount != null">trx_pool_amount = #{trxPoolAmount},</if>
            <if test="calcPromoteTime != null">calc_promote_time = #{calcPromoteTime},</if>
            <if test="brokerageUsdtLimit != null">brokerage_usdt_limit = #{brokerageUsdtLimit},</if>
            <if test="brokerageTrxLimit != null">brokerage_trx_limit = #{brokerageTrxLimit},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameGlobalConfigById" parameterType="String">
        delete
        from t_game_global_config
        where id = #{id}
    </delete>

    <delete id="deleteGameGlobalConfigByIds" parameterType="String">
        delete from t_game_global_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>