<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.game.mapper.GameSelectHashMapper">
    
    <resultMap type="GameSelectHash" id="GameSelectHashResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="invitationCode"    column="invitation_code"    />
        <result property="orderId"    column="order_id"    />
        <result property="hashValue"    column="hash_value"    />
        <result property="betAmount"    column="bet_amount"    />
        <result property="walletType"    column="wallet_type"    />
        <result property="betResult"    column="bet_result"    />
        <result property="gameCollect"    column="game_collect"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectGameSelectHashVo">
        select id, user_id, nick_name, invitation_code, order_id, hash_value, bet_amount, wallet_type, bet_result, game_collect, create_time from t_game_select_hash
    </sql>

    <select id="selectGameSelectHashList" parameterType="GameSelectHash" resultMap="GameSelectHashResult">
        <include refid="selectGameSelectHashVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="invitationCode != null  and invitationCode != ''"> and invitation_code = #{invitationCode}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="hashValue != null  and hashValue != ''"> and hash_value = #{hashValue}</if>
            <if test="betAmount != null "> and bet_amount = #{betAmount}</if>
            <if test="walletType != null  and walletType != ''"> and wallet_type = #{walletType}</if>
            <if test="betResult != null "> and bet_result = #{betResult}</if>
            <if test="gameCollect != null  and gameCollect != ''"> and game_collect = #{gameCollect}</if>
            <if test="createTime != null ">and DATE_FORMAT(create_time, '%Y-%m-%d') =  DATE_FORMAT(#{createTime}, '%Y-%m-%d') </if>
        </where>
    </select>
    
    <select id="selectGameSelectHashById" parameterType="Long" resultMap="GameSelectHashResult">
        <include refid="selectGameSelectHashVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGameSelectHash" parameterType="GameSelectHash" useGeneratedKeys="true" keyProperty="id">
        insert into t_game_select_hash
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="invitationCode != null">invitation_code,</if>
            <if test="orderId != null">order_id,</if>
            <if test="hashValue != null">hash_value,</if>
            <if test="betAmount != null">bet_amount,</if>
            <if test="walletType != null">wallet_type,</if>
            <if test="betResult != null">bet_result,</if>
            <if test="gameCollect != null">game_collect,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="invitationCode != null">#{invitationCode},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="hashValue != null">#{hashValue},</if>
            <if test="betAmount != null">#{betAmount},</if>
            <if test="walletType != null">#{walletType},</if>
            <if test="betResult != null">#{betResult},</if>
            <if test="gameCollect != null">#{gameCollect},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateGameSelectHash" parameterType="GameSelectHash">
        update t_game_select_hash
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="invitationCode != null">invitation_code = #{invitationCode},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="hashValue != null">hash_value = #{hashValue},</if>
            <if test="betAmount != null">bet_amount = #{betAmount},</if>
            <if test="walletType != null">wallet_type = #{walletType},</if>
            <if test="betResult != null">bet_result = #{betResult},</if>
            <if test="gameCollect != null">game_collect = #{gameCollect},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameSelectHashById" parameterType="Long">
        delete from t_game_select_hash where id = #{id}
    </delete>

    <delete id="deleteGameSelectHashByIds" parameterType="String">
        delete from t_game_select_hash where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>