<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.game.mapper.GamePlayerPromoteMapper">
    
    <resultMap type="GamePlayerPromote" id="GamePlayerPromoteResult">
        <result property="id"    column="id"    />
        <result property="invitationCode"    column="invitation_code"    />
        <result property="fatherUserId"    column="father_user_id"    />
        <result property="fatherInvitationCode"    column="father_invitation_code"    />
        <result property="incomeUsdtAmount"    column="income_usdt_amount"    />
        <result property="incomeUsdtToday"    column="income_usdt_today"    />
        <result property="incomeUsdtYesterday"    column="income_usdt_yesterday"    />
        <result property="incomeUsdtDirectPromote"    column="income_usdt_direct_promote"    />
        <result property="incomeTrxAmount"    column="income_trx_amount"    />
        <result property="incomeTrxToday"    column="income_trx_today"    />
        <result property="incomeTrxYesterday"    column="income_trx_yesterday"    />
        <result property="incomeTrxDirectPromote"    column="income_trx_direct_promote"    />
        <result property="canWithdrawUsdtAmount"    column="can_withdraw_usdt_amount"    />
        <result property="canWithdrawTrxAmount"    column="can_withdraw_trx_amount"    />
        <result property="level1Person"    column="level1_person"    />
        <result property="level2Person"    column="level2_person"    />
        <result property="level3Person"    column="level3_person"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="usdtGameBrokerageToFather"    column="usdt_game_brokerage_to_father"    />
        <result property="usdtPromoteBrokerageToFather"    column="usdt_promote_brokerage_to_father"    />
        <result property="trxGameBrokerageToFather"    column="trx_game_brokerage_to_father"    />
        <result property="trxPromoteBrokerageToFather"    column="trx_promote_brokerage_to_father"    />
    </resultMap>

    <sql id="selectGamePlayerPromoteVo">
        select id, invitation_code, father_user_id, father_invitation_code, income_usdt_amount, income_usdt_today, income_usdt_yesterday, income_usdt_direct_promote, income_trx_amount, income_trx_today, income_trx_yesterday, income_trx_direct_promote, can_withdraw_usdt_amount, can_withdraw_trx_amount, level1_person, level2_person, level3_person, create_time, update_time, usdt_game_brokerage_to_father, usdt_promote_brokerage_to_father, trx_game_brokerage_to_father, trx_promote_brokerage_to_father from t_game_player_promote
    </sql>

    <select id="selectGamePlayerPromoteList" parameterType="GamePlayerPromote" resultMap="GamePlayerPromoteResult">
        <include refid="selectGamePlayerPromoteVo"/>
        <where>  
            <if test="invitationCode != null  and invitationCode != ''"> and invitation_code = #{invitationCode}</if>
            <if test="fatherUserId != null  and fatherUserId != ''"> and father_user_id = #{fatherUserId}</if>
            <if test="fatherInvitationCode != null  and fatherInvitationCode != ''"> and father_invitation_code = #{fatherInvitationCode}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectGamePlayerPromoteById" parameterType="String" resultMap="GamePlayerPromoteResult">
        <include refid="selectGamePlayerPromoteVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGamePlayerPromote" parameterType="GamePlayerPromote">
        insert into t_game_player_promote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="invitationCode != null">invitation_code,</if>
            <if test="fatherUserId != null">father_user_id,</if>
            <if test="fatherInvitationCode != null">father_invitation_code,</if>
            <if test="incomeUsdtAmount != null">income_usdt_amount,</if>
            <if test="incomeUsdtToday != null">income_usdt_today,</if>
            <if test="incomeUsdtYesterday != null">income_usdt_yesterday,</if>
            <if test="incomeUsdtDirectPromote != null">income_usdt_direct_promote,</if>
            <if test="incomeTrxAmount != null">income_trx_amount,</if>
            <if test="incomeTrxToday != null">income_trx_today,</if>
            <if test="incomeTrxYesterday != null">income_trx_yesterday,</if>
            <if test="incomeTrxDirectPromote != null">income_trx_direct_promote,</if>
            <if test="canWithdrawUsdtAmount != null">can_withdraw_usdt_amount,</if>
            <if test="canWithdrawTrxAmount != null">can_withdraw_trx_amount,</if>
            <if test="level1Person != null">level1_person,</if>
            <if test="level2Person != null">level2_person,</if>
            <if test="level3Person != null">level3_person,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="usdtGameBrokerageToFather != null">usdt_game_brokerage_to_father,</if>
            <if test="usdtPromoteBrokerageToFather != null">usdt_promote_brokerage_to_father,</if>
            <if test="trxGameBrokerageToFather != null">trx_game_brokerage_to_father,</if>
            <if test="trxPromoteBrokerageToFather != null">trx_promote_brokerage_to_father,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="invitationCode != null">#{invitationCode},</if>
            <if test="fatherUserId != null">#{fatherUserId},</if>
            <if test="fatherInvitationCode != null">#{fatherInvitationCode},</if>
            <if test="incomeUsdtAmount != null">#{incomeUsdtAmount},</if>
            <if test="incomeUsdtToday != null">#{incomeUsdtToday},</if>
            <if test="incomeUsdtYesterday != null">#{incomeUsdtYesterday},</if>
            <if test="incomeUsdtDirectPromote != null">#{incomeUsdtDirectPromote},</if>
            <if test="incomeTrxAmount != null">#{incomeTrxAmount},</if>
            <if test="incomeTrxToday != null">#{incomeTrxToday},</if>
            <if test="incomeTrxYesterday != null">#{incomeTrxYesterday},</if>
            <if test="incomeTrxDirectPromote != null">#{incomeTrxDirectPromote},</if>
            <if test="canWithdrawUsdtAmount != null">#{canWithdrawUsdtAmount},</if>
            <if test="canWithdrawTrxAmount != null">#{canWithdrawTrxAmount},</if>
            <if test="level1Person != null">#{level1Person},</if>
            <if test="level2Person != null">#{level2Person},</if>
            <if test="level3Person != null">#{level3Person},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="usdtGameBrokerageToFather != null">#{usdtGameBrokerageToFather},</if>
            <if test="usdtPromoteBrokerageToFather != null">#{usdtPromoteBrokerageToFather},</if>
            <if test="trxGameBrokerageToFather != null">#{trxGameBrokerageToFather},</if>
            <if test="trxPromoteBrokerageToFather != null">#{trxPromoteBrokerageToFather},</if>
         </trim>
    </insert>

    <update id="updateGamePlayerPromote" parameterType="GamePlayerPromote">
        update t_game_player_promote
        <trim prefix="SET" suffixOverrides=",">
            <if test="invitationCode != null">invitation_code = #{invitationCode},</if>
            <if test="fatherUserId != null">father_user_id = #{fatherUserId},</if>
            <if test="fatherInvitationCode != null">father_invitation_code = #{fatherInvitationCode},</if>
            <if test="incomeUsdtAmount != null">income_usdt_amount = #{incomeUsdtAmount},</if>
            <if test="incomeUsdtToday != null">income_usdt_today = #{incomeUsdtToday},</if>
            <if test="incomeUsdtYesterday != null">income_usdt_yesterday = #{incomeUsdtYesterday},</if>
            <if test="incomeUsdtDirectPromote != null">income_usdt_direct_promote = #{incomeUsdtDirectPromote},</if>
            <if test="incomeTrxAmount != null">income_trx_amount = #{incomeTrxAmount},</if>
            <if test="incomeTrxToday != null">income_trx_today = #{incomeTrxToday},</if>
            <if test="incomeTrxYesterday != null">income_trx_yesterday = #{incomeTrxYesterday},</if>
            <if test="incomeTrxDirectPromote != null">income_trx_direct_promote = #{incomeTrxDirectPromote},</if>
            <if test="canWithdrawUsdtAmount != null">can_withdraw_usdt_amount = #{canWithdrawUsdtAmount},</if>
            <if test="canWithdrawTrxAmount != null">can_withdraw_trx_amount = #{canWithdrawTrxAmount},</if>
            <if test="level1Person != null">level1_person = #{level1Person},</if>
            <if test="level2Person != null">level2_person = #{level2Person},</if>
            <if test="level3Person != null">level3_person = #{level3Person},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="usdtGameBrokerageToFather != null">usdt_game_brokerage_to_father = #{usdtGameBrokerageToFather},</if>
            <if test="usdtPromoteBrokerageToFather != null">usdt_promote_brokerage_to_father = #{usdtPromoteBrokerageToFather},</if>
            <if test="trxGameBrokerageToFather != null">trx_game_brokerage_to_father = #{trxGameBrokerageToFather},</if>
            <if test="trxPromoteBrokerageToFather != null">trx_promote_brokerage_to_father = #{trxPromoteBrokerageToFather},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGamePlayerPromoteById" parameterType="String">
        delete from t_game_player_promote where id = #{id}
    </delete>

    <delete id="deleteGamePlayerPromoteByIds" parameterType="String">
        delete from t_game_player_promote where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>