<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.TelegramBotMapper">
    
    <resultMap type="TelegramBot" id="TelegramBotResult">
        <result property="id"    column="id"    />
        <result property="token"    column="token"    />
        <result property="userName"    column="user_name"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTelegramBotVo">
        select id, token, user_name, description, create_time, update_time, create_by, update_by from t_telegram_bot
    </sql>

    <select id="selectTelegramBotList" parameterType="TelegramBot" resultMap="TelegramBotResult">
        <include refid="selectTelegramBotVo"/>
        <where>  
            <if test="token != null  and token != ''"> and token = #{token}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectTelegramBotById" parameterType="Long" resultMap="TelegramBotResult">
        <include refid="selectTelegramBotVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTelegramBot" parameterType="TelegramBot" useGeneratedKeys="true" keyProperty="id">
        insert into t_telegram_bot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="token != null">token,</if>
            <if test="userName != null">user_name,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="token != null">#{token},</if>
            <if test="userName != null">#{userName},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateTelegramBot" parameterType="TelegramBot">
        update t_telegram_bot
        <trim prefix="SET" suffixOverrides=",">
            <if test="token != null">token = #{token},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTelegramBotById" parameterType="Long">
        delete from t_telegram_bot where id = #{id}
    </delete>

    <delete id="deleteTelegramBotByIds" parameterType="String">
        delete from t_telegram_bot where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>