<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.statistical.mapper.GameStatisticalWinMapper">

    <resultMap type="GameStatisticalWin" id="GameStatisticalWinResult">
        <result property="id" column="id"/>
        <result property="usdtBetAmount" column="usdt_bet_amount"/>
        <result property="usdtAwardAmount" column="usdt_award_amount"/>
        <result property="usdtWinAmount" column="usdt_win_amount"/>
        <result property="trxBetAmount" column="trx_bet_amount"/>
        <result property="trxAwardAmount" column="trx_award_amount"/>
        <result property="trxWinAmount" column="trx_win_amount"/>
    </resultMap>

    <sql id="selectGameStatisticalWinVo">
        select id, usdt_bet_amount, usdt_award_amount, usdt_win_amount, trx_bet_amount, trx_award_amount, trx_win_amount
        from t_game_statistical_win
    </sql>

    <sql id="selectGameStatisticalCurrDay">
        SELECT sum(trx_bet_amount)                      AS trx_bet_amount,
               SUM(trx_award_amount)                    AS trx_award_amount,
               SUM(trx_bet_amount - trx_award_amount)   AS trx_win_amount,
               SUM(usdt_bet_amount)                     AS usdt_bet_amount,
               SUM(usdt_award_amount)                   AS usdt_award_amount,
               SUM(usdt_bet_amount - usdt_award_amount) AS usdt_win_amount,
               id
        FROM t_game_statistical_day  where DATE_FORMAT(id, '%Y-%m-%d') =  DATE_FORMAT(current_date, '%Y-%m-%d')    GROUP BY id
    </sql>

    <select id="selectGameStatisticalWinList" parameterType="GameStatisticalWin" resultMap="GameStatisticalWinResult">
        <choose>
            <when test="id !=null ">
                <include refid="selectGameStatisticalWinVo"/>
                <where>
                    <if test="id != null ">and DATE_FORMAT(id, '%Y-%m-%d') =  DATE_FORMAT(#{id}, '%Y-%m-%d')</if>
                </where>
            </when>
            <otherwise>
                <include refid="selectGameStatisticalCurrDay"/>
            </otherwise>
        </choose>

    </select>

    <select id="selectGameStatisticalWinById" parameterType="String" resultMap="GameStatisticalWinResult">
        <include refid="selectGameStatisticalWinVo"/>
        where id = #{id}
    </select>

    <insert id="insertGameStatisticalWin" parameterType="GameStatisticalWin">
        insert into t_game_statistical_win
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="usdtBetAmount != null">usdt_bet_amount,</if>
            <if test="usdtAwardAmount != null">usdt_award_amount,</if>
            <if test="usdtWinAmount != null">usdt_win_amount,</if>
            <if test="trxBetAmount != null">trx_bet_amount,</if>
            <if test="trxAwardAmount != null">trx_award_amount,</if>
            <if test="trxWinAmount != null">trx_win_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="usdtBetAmount != null">#{usdtBetAmount},</if>
            <if test="usdtAwardAmount != null">#{usdtAwardAmount},</if>
            <if test="usdtWinAmount != null">#{usdtWinAmount},</if>
            <if test="trxBetAmount != null">#{trxBetAmount},</if>
            <if test="trxAwardAmount != null">#{trxAwardAmount},</if>
            <if test="trxWinAmount != null">#{trxWinAmount},</if>
        </trim>
    </insert>

    <update id="updateGameStatisticalWin" parameterType="GameStatisticalWin">
        update t_game_statistical_win
        <trim prefix="SET" suffixOverrides=",">
            <if test="usdtBetAmount != null">usdt_bet_amount = #{usdtBetAmount},</if>
            <if test="usdtAwardAmount != null">usdt_award_amount = #{usdtAwardAmount},</if>
            <if test="usdtWinAmount != null">usdt_win_amount = #{usdtWinAmount},</if>
            <if test="trxBetAmount != null">trx_bet_amount = #{trxBetAmount},</if>
            <if test="trxAwardAmount != null">trx_award_amount = #{trxAwardAmount},</if>
            <if test="trxWinAmount != null">trx_win_amount = #{trxWinAmount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameStatisticalWinById" parameterType="String">
        delete
        from t_game_statistical_win
        where id = #{id}
    </delete>

    <delete id="deleteGameStatisticalWinByIds" parameterType="String">
        delete from t_game_statistical_win where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>