<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.statistical.mapper.GameStatisticalPlayerDayMapper">

    <resultMap type="GameStatisticalPlayerDay" id="GameStatisticalPlayerDayResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="gameId" column="game_id"/>
        <result property="usdtBetAmount" column="usdt_bet_amount"/>
        <result property="usdtAwardAmount" column="usdt_award_amount"/>
        <result property="trxBetAmount" column="trx_bet_amount"/>
        <result property="trxAwardAmount" column="trx_award_amount"/>
        <result property="time" column="time"/>
    </resultMap>

    <sql id="selectGameStatisticalPlayerDayVo">
        select id, user_id, game_id, usdt_bet_amount, usdt_award_amount, trx_bet_amount, trx_award_amount
        from t_game_statistical_player_day
    </sql>

    <select id="selectGameStatisticalPlayerDayList" parameterType="GameStatisticalPlayerDay"
            resultMap="GameStatisticalPlayerDayResult">
        ${sql}
        <!--        <include refid="selectGameStatisticalPlayerDayVo"/>-->
        <!--        <where>  -->
        <!--            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>-->
        <!--            <if test="gameId != null "> and game_id = #{gameId}</if>-->
        <!--            <if test="usdtBetAmount != null "> and usdt_bet_amount = #{usdtBetAmount}</if>-->
        <!--            <if test="usdtAwardAmount != null "> and usdt_award_amount = #{usdtAwardAmount}</if>-->
        <!--            <if test="trxBetAmount != null "> and trx_bet_amount = #{trxBetAmount}</if>-->
        <!--            <if test="trxAwardAmount != null "> and trx_award_amount = #{trxAwardAmount}</if>-->
        <!--        </where>-->
    </select>

    <select id="selectGameStatisticalPlayerDayById" parameterType="String" resultMap="GameStatisticalPlayerDayResult">
        <include refid="selectGameStatisticalPlayerDayVo"/>
        where id = #{id}
    </select>

    <insert id="insertGameStatisticalPlayerDay" parameterType="GameStatisticalPlayerDay">
        insert into t_game_statistical_player_day
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="gameId != null">game_id,</if>
            <if test="usdtBetAmount != null">usdt_bet_amount,</if>
            <if test="usdtAwardAmount != null">usdt_award_amount,</if>
            <if test="trxBetAmount != null">trx_bet_amount,</if>
            <if test="trxAwardAmount != null">trx_award_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="usdtBetAmount != null">#{usdtBetAmount},</if>
            <if test="usdtAwardAmount != null">#{usdtAwardAmount},</if>
            <if test="trxBetAmount != null">#{trxBetAmount},</if>
            <if test="trxAwardAmount != null">#{trxAwardAmount},</if>
        </trim>
    </insert>

    <update id="updateGameStatisticalPlayerDay" parameterType="GameStatisticalPlayerDay">
        update t_game_statistical_player_day
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="usdtBetAmount != null">usdt_bet_amount = #{usdtBetAmount},</if>
            <if test="usdtAwardAmount != null">usdt_award_amount = #{usdtAwardAmount},</if>
            <if test="trxBetAmount != null">trx_bet_amount = #{trxBetAmount},</if>
            <if test="trxAwardAmount != null">trx_award_amount = #{trxAwardAmount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameStatisticalPlayerDayById" parameterType="String">
        delete
        from t_game_statistical_player_day
        where id = #{id}
    </delete>

    <delete id="deleteGameStatisticalPlayerDayByIds" parameterType="String">
        delete from t_game_statistical_player_day where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>