<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.statistical.mapper.GameStatisticalPromoteIncomeMapper">

    <resultMap type="GameStatisticalPromoteIncome" id="GameStatisticalPromoteIncomeResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="invitationCode" column="invitation_code"/>
        <result property="usdtIncomeAmount" column="usdt_income_amount"/>
        <result property="trxIncomeAmount" column="trx_income_amount"/>

        <result property="usdt_income1_amount" column="usdt_income1_amount"/>
        <result property="usdt_income2_amount" column="usdt_income2_amount"/>
        <result property="usdt_income3_amount" column="usdt_income3_amount"/>
        <result property="trx_income1_amount" column="trx_income1_amount"/>
        <result property="trx_income2_amount" column="trx_income2_amount"/>
        <result property="trx_income3_amount" column="trx_income3_amount"/>

    </resultMap>

    <sql id="selectGameStatisticalPromoteIncomeVo">
        select id,
               user_id,
               invitation_code,
               usdt_income_amount,
               trx_income_amount,
               usdt_income1_amount,
               usdt_income2_amount,
               usdt_income3_amount,
               trx_income1_amount,
               trx_income2_amount,
               trx_income3_amount
        from t_game_statistical_promote_income
    </sql>

    <select id="selectGameStatisticalPromoteIncomeList" parameterType="GameStatisticalPromoteIncome"
            resultMap="GameStatisticalPromoteIncomeResult">
        <include refid="selectGameStatisticalPromoteIncomeVo"/>
        <where>
            <if test="id != null  and id != ''">and DATE_FORMAT(id, '%Y-%m-%d') =  DATE_FORMAT(#{id}, '%Y-%m-%d') </if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="invitationCode != null  and invitationCode != ''">and invitation_code = #{invitationCode}</if>
        </where>
    </select>

    <select id="selectGameStatisticalPromoteIncomeById" parameterType="String"
            resultMap="GameStatisticalPromoteIncomeResult">
        <include refid="selectGameStatisticalPromoteIncomeVo"/>
        where id = #{id}
    </select>

    <insert id="insertGameStatisticalPromoteIncome" parameterType="GameStatisticalPromoteIncome">
        insert into t_game_statistical_promote_income
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="invitationCode != null">invitation_code,</if>
            <if test="usdtIncomeAmount != null">usdt_income_amount,</if>
            <if test="trxIncomeAmount != null">trx_income_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="invitationCode != null">#{invitationCode},</if>
            <if test="usdtIncomeAmount != null">#{usdtIncomeAmount},</if>
            <if test="trxIncomeAmount != null">#{trxIncomeAmount},</if>
        </trim>
    </insert>

    <update id="updateGameStatisticalPromoteIncome" parameterType="GameStatisticalPromoteIncome">
        update t_game_statistical_promote_income
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="invitationCode != null">invitation_code = #{invitationCode},</if>
            <if test="usdtIncomeAmount != null">usdt_income_amount = #{usdtIncomeAmount},</if>
            <if test="trxIncomeAmount != null">trx_income_amount = #{trxIncomeAmount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameStatisticalPromoteIncomeById" parameterType="String">
        delete
        from t_game_statistical_promote_income
        where id = #{id}
    </delete>

    <delete id="deleteGameStatisticalPromoteIncomeByIds" parameterType="String">
        delete from t_game_statistical_promote_income where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>