<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.statistical.mapper.IndexActiveMapper">

    <resultMap type="IndexActive" id="IndexActiveResult">
        <result property="t_id" column="t_id"/>
        <result property="t_type" column="t_type"/>
        <result property="t_amount" column="t_amount"/>
        <result property="u_id" column="u_id"/>
        <result property="u_type" column="u_type"/>
        <result property="u_amount" column="u_amount"/>

        <result property="usdt_count" column="usdt_count"/>
        <result property="trx_count" column="trx_count"/>
        <result property="usdt_people_count" column="usdt_people_count"/>
        <result property="trx_people_count" column="trx_people_count"/>
        <result property="trx_game_amount" column="trx_game_amount"/>
        <result property="trx_dl_amount" column="trx_dl_amount"/>
        <result property="usdt_game_amount" column="usdt_game_amount"/>
        <result property="usdt_dl_amount" column="usdt_dl_amount"/>
        <result property="trx_back_count" column="trx_back_count"/>
        <result property="usdt_back_count" column="usdt_back_count"/>
        <result property="usdt_back_people_conut" column="usdt_back_people_conut"/>

        <result property="trx_back_people_conut" column="trx_back_people_conut"/>
        <result property="usdt_back_dl_count" column="usdt_back_dl_count"/>
        <result property="trx_back_dl_count" column="trx_back_dl_count"/>
        <result property="usdt_dl_back_people_count" column="usdt_dl_back_people_count"/>
        <result property="trx_dl_back_people_count" column="trx_dl_back_people_count"/>

        <result property="wallet_type" column="wallet_type"/>
        <result property="a_type" column="a_type"/>
        <result property="amount" column="amount"/>

    </resultMap>


    <sql id="selectCurrActiveVo">
        SELECT a_type, wallet_type, SUM(amount) AS amount
        FROM t_game_operation_activity_record where  DATE_FORMAT(create_time,'%Y-%m-%d')= CURRENT_DATE
        GROUP BY a_type, wallet_type
        ORDER BY wallet_type, a_type ASC;
    </sql>


    <sql id="selectCurrActiveAmountInfoVo">
        SELECT *
        FROM (
                 SELECT count(1) AS usdt_count
                 FROM t_game_operation_activity_record
                 WHERE wallet_type = 'USDT'
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t1,
             (
                 SELECT count(1) AS trx_count
                 FROM t_game_operation_activity_record
                 WHERE wallet_type = 'TRX'
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t2,
             (
                 SELECT COUNT(user_id) AS usdt_people_count
                 FROM (
                          SELECT wallet_type,
                                 user_id
                          FROM t_wallet_recharge_order
                          WHERE wallet_type = 'USDT'
                            AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
                          GROUP BY user_id
                      ) AS temp
             ) AS t3,
             (
                 SELECT COUNT(user_id) AS trx_people_count
                 FROM (
                          SELECT wallet_type,
                                 user_id
                          FROM t_wallet_recharge_order
                          WHERE wallet_type = 'TRX'
                            AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
                          GROUP BY user_id
                      ) AS temp
             ) AS t4,
             (
                 SELECT SUM(brokerage_amount) AS trx_game_amount
                 FROM t_game_player_brokerage_record
                 WHERE wallet_type = 'TRX'
                   AND brokerage_type = 1
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t5,
             (
                 SELECT SUM(brokerage_amount) AS trx_dl_amount
                 FROM t_game_player_brokerage_record
                 WHERE wallet_type = 'TRX'
                   AND brokerage_type = 2
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t6,
             (
                 SELECT SUM(brokerage_amount) AS usdt_game_amount
                 FROM t_game_player_brokerage_record
                 WHERE wallet_type = 'USDT'
                   AND brokerage_type = 1
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t7,
             (
                 SELECT SUM(brokerage_amount) AS usdt_dl_amount
                 FROM t_game_player_brokerage_record
                 WHERE wallet_type = 'USDT'
                   AND brokerage_type = 2
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t8,
             (
                 SELECT count(1) AS trx_back_count
                 FROM t_game_player_brokerage_record
                 WHERE brokerage_type = 1
                   AND wallet_type = 'TRX'
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t9,
             (
                 SELECT count(1) AS usdt_back_count
                 FROM t_game_player_brokerage_record
                 WHERE brokerage_type = 1
                   AND wallet_type = 'USDT'
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t10,
             (
                 SELECT COUNT(temp.user_id) usdt_back_people_conut
                 FROM (
                          SELECT user_id
                          FROM t_game_player_brokerage_record
                          WHERE brokerage_type = 1
                            AND wallet_type = 'USDT'
                            AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
                          GROUP BY user_id
                      ) AS temp
             ) AS t11,
             (
                 SELECT COUNT(temp.user_id) trx_back_people_conut
                 FROM (
                          SELECT user_id
                          FROM t_game_player_brokerage_record
                          WHERE brokerage_type = 1
                            AND wallet_type = 'TRX'
                            AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
                          GROUP BY user_id
                      ) AS temp
             ) AS t12,
             (
                 SELECT count(1) AS usdt_back_dl_count
                 FROM t_game_player_brokerage_record
                 WHERE brokerage_type = 2
                   AND wallet_type = 'USDT'
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t13,
             (
                 SELECT count(1) AS trx_back_dl_count
                 FROM t_game_player_brokerage_record
                 WHERE brokerage_type = 2
                   AND wallet_type = 'trx'
                   AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) AS t14,
             (
                 SELECT COUNT(user_id) AS usdt_dl_back_people_count
                 FROM (
                          SELECT user_id
                          FROM t_game_player_brokerage_record
                          WHERE brokerage_type = 2
                            AND wallet_type = 'USDT'
                            AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
                          GROUP BY user_id
                      ) AS temp
             ) AS t15,
             (
                 SELECT COUNT(user_id) AS trx_dl_back_people_count
                 FROM (
                          SELECT user_id
                          FROM t_game_player_brokerage_record
                          WHERE brokerage_type = 2
                            AND wallet_type = 'TRX'
                            AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
                          GROUP BY user_id
                      ) AS temp
             ) AS t16,
             (
                 SELECT SUM(amount) AS usdt_active_amount
                 FROM t_game_operation_activity_record
                 where wallet_type = 'USDT'  AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) as t17,
             (
                 SELECT SUM(amount) AS trx_active_amount
                 FROM t_game_operation_activity_record
                 where wallet_type = 'TRX'  AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURRENT_DATE
             ) as t18

    </sql>

    <select id="selectCurrActive" resultMap="IndexActiveResult">
        <include refid="selectCurrActiveVo"/>
    </select>

    <select id="selectCurrActiveAmountInfo" resultMap="IndexActiveResult">
        <include refid="selectCurrActiveAmountInfoVo"/>
    </select>
</mapper>