<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.statistical.mapper.StatisticalPromoteMapper">

    <resultMap type="StatisticalPromote" id="StatisticalPromoteResult">
        <result property="id" column="id"/>
        <result property="level1Person" column="level1_person"/>
        <result property="level2Person" column="level2_person"/>
        <result property="level3Person" column="level3_person"/>
        <result property="areaCode" column="area_code"/>
        <result property="phone" column="phone"/>
        <result property="nickName" column="nick_name"/>
        <result property="account" column="account"/>
        <result property="registerTime" column="register_time"/>
        <result property="promoteOdds" column="promote_odds"/>
        <result property="sharePromoteOdds" column="share_promote_odds"/>
        <result property="sumnumber" column="sumNumber"/>
        <result property="invite_award_person" column="invite_award_person"/>
        <result property="team_usdt_win_amount" column="team_usdt_win_amount"/>
        <result property="team_trx_win_amount" column="team_trx_win_amount"/>
    </resultMap>

    <sql id="selectStatisticalPromoteVo">
        select id,
               level1_person,
               level2_person,
               level3_person,
               area_code,
               phone,
               nick_name,
               account,
               register_time,
               promote_odds,
               share_promote_odds,
               sumNumber,
               invite_award_person,
               team_usdt_win_amount,
               team_trx_win_amount
        from statistical_promote
    </sql>

    <select id="selectStatisticalPromoteList" parameterType="StatisticalPromote" resultMap="StatisticalPromoteResult">
        <include refid="selectStatisticalPromoteVo"/>
        <where>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="account != null  and account != ''">and account = #{account}</if>
            <if test="registerTime != null ">and  DATE_FORMAT(register_time, '%Y-%m-%d') = DATE_FORMAT( #{registerTime}, '%Y-%m-%d') </if>
            <if test="promoteOdds != null ">and promote_odds = #{promoteOdds}</if>
            <if test="sharePromoteOdds != null ">and share_promote_odds = #{sharePromoteOdds}</if>
        </where>
    </select>

    <select id="selectStatisticalPromoteById" parameterType="String" resultMap="StatisticalPromoteResult">
        <include refid="selectStatisticalPromoteVo"/>
        where id = #{id}
    </select>

    <insert id="insertStatisticalPromote" parameterType="StatisticalPromote">
        insert into statistical_promote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="level1Person != null">level1_person,</if>
            <if test="level2Person != null">level2_person,</if>
            <if test="level3Person != null">level3_person,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="phone != null">phone,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="account != null">account,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="promoteOdds != null">promote_odds,</if>
            <if test="sharePromoteOdds != null">share_promote_odds,</if>
            <if test="sumnumber != null">sumNumber,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="level1Person != null">#{level1Person},</if>
            <if test="level2Person != null">#{level2Person},</if>
            <if test="level3Person != null">#{level3Person},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="phone != null">#{phone},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="account != null">#{account},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="promoteOdds != null">#{promoteOdds},</if>
            <if test="sharePromoteOdds != null">#{sharePromoteOdds},</if>
            <if test="sumnumber != null">#{sumnumber},</if>
        </trim>
    </insert>

    <update id="updateStatisticalPromote" parameterType="StatisticalPromote">
        update statistical_promote
        <trim prefix="SET" suffixOverrides=",">
            <if test="level1Person != null">level1_person = #{level1Person},</if>
            <if test="level2Person != null">level2_person = #{level2Person},</if>
            <if test="level3Person != null">level3_person = #{level3Person},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="account != null">account = #{account},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="promoteOdds != null">promote_odds = #{promoteOdds},</if>
            <if test="sharePromoteOdds != null">share_promote_odds = #{sharePromoteOdds},</if>
            <if test="sumnumber != null">sumNumber = #{sumnumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStatisticalPromoteById" parameterType="String">
        delete
        from statistical_promote
        where id = #{id}
    </delete>

    <delete id="deleteStatisticalPromoteByIds" parameterType="String">
        delete from statistical_promote where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>