<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.statistical.mapper.UserIpRegisterMapper">
    
    <resultMap type="UserIpRegister" id="UserIpRegisterResult">
        <result property="ip"    column="ip"    />
        <result property="ipAddr"    column="ip_addr"    />
        <result property="regCount"    column="reg_count"    />
    </resultMap>

    <sql id="selectUserIpRegisterVo">
        select ip, ip_addr, reg_count from t_user_ip_register
    </sql>

    <select id="selectUserIpRegisterList" parameterType="UserIpRegister" resultMap="UserIpRegisterResult">
        <include refid="selectUserIpRegisterVo"/>
        <where>  
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="ipAddr != null  and ipAddr != ''"> and ip_addr = #{ipAddr}</if>
            <if test="regCount != null "> and reg_count >= #{regCount}  and reg_count >  0</if>
        </where>
    </select>
    
    <select id="selectUserIpRegisterByIp" parameterType="String" resultMap="UserIpRegisterResult">
        <include refid="selectUserIpRegisterVo"/>
        where ip = #{ip}
    </select>
        
    <insert id="insertUserIpRegister" parameterType="UserIpRegister">
        insert into t_user_ip_register
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ip != null">ip,</if>
            <if test="ipAddr != null">ip_addr,</if>
            <if test="regCount != null">reg_count,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ip != null">#{ip},</if>
            <if test="ipAddr != null">#{ipAddr},</if>
            <if test="regCount != null">#{regCount},</if>
         </trim>
    </insert>

    <update id="updateUserIpRegister" parameterType="UserIpRegister">
        update t_user_ip_register
        <trim prefix="SET" suffixOverrides=",">
            <if test="ipAddr != null">ip_addr = #{ipAddr},</if>
            <if test="regCount != null">reg_count = #{regCount},</if>
        </trim>
        where ip = #{ip}
    </update>

    <delete id="deleteUserIpRegisterByIp" parameterType="String">
        delete from t_user_ip_register where ip = #{ip}
    </delete>

    <delete id="deleteUserIpRegisterByIps" parameterType="String">
        delete from t_user_ip_register where ip in 
        <foreach item="ip" collection="array" open="(" separator="," close=")">
            #{ip}
        </foreach>
    </delete>
</mapper>