<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.audit.mapper.WalletWithdrawOrderMapper">

    <resultMap type="WalletWithdrawOrder" id="WalletWithdrawOrderResult">
        <result property="id" column="id"/>
        <result property="transactionNo" column="transaction_no"/>
        <result property="userId" column="user_id"/>
        <result property="walletType" column="wallet_type"/>
        <result property="paymentAddress" column="payment_address"/>
        <result property="collectionAddress" column="collection_address"/>
        <result property="amount" column="amount"/>
        <result property="minerAmount" column="miner_amount"/>
        <result property="status" column="status"/>
        <result property="checkStatus" column="check_status"/>
        <result property="checkPerson" column="check_person"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="note" column="note"/>
        <result property="payAmount" column="pay_amount"/>
    </resultMap>

    <sql id="selectWalletWithdrawOrderVo">
        select id,
               transaction_no,
               user_id,
               wallet_type,
               payment_address,
               collection_address,
               amount,
               miner_amount,
               status,
               check_status,
               check_person,
               remark,
               create_time,
               update_time,
               update_by,
               pay_amount,
               note
        from t_wallet_withdraw_order
    </sql>

    <select id="selectWalletWithdrawOrderList" parameterType="WalletWithdrawOrder"
            resultMap="WalletWithdrawOrderResult">
        <include refid="selectWalletWithdrawOrderVo"/>
        <where>
            <if test="id != null  and id != ''">and id = #{id}</if>
            <if test="transactionNo != null  and transactionNo != ''">and transaction_no = #{transactionNo}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="walletType != null  and walletType != ''">and wallet_type = #{walletType}</if>
            <if test="paymentAddress != null  and paymentAddress != ''">and payment_address = #{paymentAddress}</if>
            <if test="collectionAddress != null  and collectionAddress != ''">and collection_address =
                #{collectionAddress}
            </if>
            <if test="amount != null ">and amount = #{amount}</if>
            <if test="minerAmount != null ">and miner_amount = #{minerAmount}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="checkStatus != null ">and check_status = #{checkStatus}</if>
            <if test="checkPerson != null  and checkPerson != ''">and check_person = #{checkPerson}</if>
            <if test="createTime != null ">and create_time >= #{createTime}</if>
        </where>
    </select>

    <select id="selectWalletWithdrawOrderById" parameterType="String" resultMap="WalletWithdrawOrderResult">
        <include refid="selectWalletWithdrawOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertWalletWithdrawOrder" parameterType="WalletWithdrawOrder">
        insert into t_wallet_withdraw_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="transactionNo != null">transaction_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="walletType != null">wallet_type,</if>
            <if test="paymentAddress != null">payment_address,</if>
            <if test="collectionAddress != null">collection_address,</if>
            <if test="amount != null">amount,</if>
            <if test="minerAmount != null">miner_amount,</if>
            <if test="status != null">status,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="checkPerson != null">check_person,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="transactionNo != null">#{transactionNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="walletType != null">#{walletType},</if>
            <if test="paymentAddress != null">#{paymentAddress},</if>
            <if test="collectionAddress != null">#{collectionAddress},</if>
            <if test="amount != null">#{amount},</if>
            <if test="minerAmount != null">#{minerAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="checkPerson != null">#{checkPerson},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateWalletWithdrawOrder" parameterType="WalletWithdrawOrder">
        update t_wallet_withdraw_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="transactionNo != null">transaction_no = #{transactionNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="walletType != null">wallet_type = #{walletType},</if>
            <if test="paymentAddress != null">payment_address = #{paymentAddress},</if>
            <if test="collectionAddress != null">collection_address = #{collectionAddress},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="minerAmount != null">miner_amount = #{minerAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="checkPerson != null">check_person = #{checkPerson},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWalletWithdrawOrderById" parameterType="String">
        delete
        from t_wallet_withdraw_order
        where id = #{id}
    </delete>

    <delete id="deleteWalletWithdrawOrderByIds" parameterType="String">
        delete from t_wallet_withdraw_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>