<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wallet.mapper.PayTypeMapper">
    
    <resultMap type="PayType" id="PayTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="payTypeNo"    column="pay_type_no"    />
        <result property="isEnable"    column="is_enable"    />
        <result property="sort"    column="sort"    />
        <result property="iconUrl"    column="icon_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPayTypeVo">
        select id, name, pay_type_no, is_enable, sort, icon_url, create_time, update_time from t_pay_type
    </sql>

    <select id="selectPayTypeList" parameterType="PayType" resultMap="PayTypeResult">
        <include refid="selectPayTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="payTypeNo != null  and payTypeNo != ''"> and pay_type_no = #{payTypeNo}</if>
            <if test="isEnable != null "> and is_enable = #{isEnable}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="iconUrl != null  and iconUrl != ''"> and icon_url = #{iconUrl}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectPayTypeById" parameterType="String" resultMap="PayTypeResult">
        <include refid="selectPayTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPayType" parameterType="PayType" useGeneratedKeys="true" keyProperty="id">
        insert into t_pay_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="payTypeNo != null and payTypeNo != ''">pay_type_no,</if>
            <if test="isEnable != null">is_enable,</if>
            <if test="sort != null">sort,</if>
            <if test="iconUrl != null and iconUrl != ''">icon_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="payTypeNo != null and payTypeNo != ''">#{payTypeNo},</if>
            <if test="isEnable != null">#{isEnable},</if>
            <if test="sort != null">#{sort},</if>
            <if test="iconUrl != null and iconUrl != ''">#{iconUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePayType" parameterType="PayType">
        update t_pay_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="payTypeNo != null and payTypeNo != ''">pay_type_no = #{payTypeNo},</if>
            <if test="isEnable != null">is_enable = #{isEnable},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="iconUrl != null and iconUrl != ''">icon_url = #{iconUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayTypeById" parameterType="String">
        delete from t_pay_type where id = #{id}
    </delete>

    <delete id="deletePayTypeByIds" parameterType="String">
        delete from t_pay_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>