<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wallet.mapper.WalletPlayerDataMapper">
    
    <resultMap type="WalletPlayerData" id="WalletPlayerDataResult">
        <result property="id"    column="id"    />
        <result property="usdtAmount"    column="usdt_amount"    />
        <result property="trxAmount"    column="trx_amount"    />
        <result property="hashAddressUsdt"    column="hash_address_usdt"    />
        <result property="hashAddressTrx"    column="hash_address_trx"    />
        <result property="rechargeTotal"    column="recharge_total"    />
        <result property="withdrawTotal"    column="withdraw_total"    />
    </resultMap>

    <sql id="selectWalletPlayerDataVo">
        select id, usdt_amount, trx_amount, hash_address_usdt, hash_address_trx, recharge_total, withdraw_total from t_wallet_player_data
    </sql>

    <select id="selectWalletPlayerDataList" parameterType="WalletPlayerData" resultMap="WalletPlayerDataResult">
        <include refid="selectWalletPlayerDataVo"/>
        <where>  
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="usdtAmount != null and usdtAmount != ''"> and usdt_amount = #{usdtAmount}</if>
            <if test="trxAmount != null and trxAmount != ''"> and trx_amount = #{trxAmount}</if>
            <if test="hashAddressUsdt != null  and hashAddressUsdt != ''"> and hash_address_usdt = #{hashAddressUsdt}</if>
            <if test="hashAddressTrx != null  and hashAddressTrx != ''"> and hash_address_trx = #{hashAddressTrx}</if>
            <if test="rechargeTotal != null  and rechargeTotal != ''"> and recharge_total = #{rechargeTotal}</if>
            <if test="withdrawTotal != null and withdrawTotal != '' "> and withdraw_total = #{withdrawTotal}</if>
        </where>
    </select>
    
    <select id="selectWalletPlayerDataById" parameterType="String" resultMap="WalletPlayerDataResult">
        <include refid="selectWalletPlayerDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWalletPlayerData" parameterType="WalletPlayerData">
        insert into t_wallet_player_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="usdtAmount != null">usdt_amount,</if>
            <if test="trxAmount != null">trx_amount,</if>
            <if test="hashAddressUsdt != null">hash_address_usdt,</if>
            <if test="hashAddressTrx != null">hash_address_trx,</if>
            <if test="rechargeTotal != null">recharge_total,</if>
            <if test="withdrawTotal != null">withdraw_total,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="usdtAmount != null">#{usdtAmount},</if>
            <if test="trxAmount != null">#{trxAmount},</if>
            <if test="hashAddressUsdt != null">#{hashAddressUsdt},</if>
            <if test="hashAddressTrx != null">#{hashAddressTrx},</if>
            <if test="rechargeTotal != null">#{rechargeTotal},</if>
            <if test="withdrawTotal != null">#{withdrawTotal},</if>
         </trim>
    </insert>

    <update id="updateWalletPlayerData" parameterType="WalletPlayerData">
        update t_wallet_player_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="usdtAmount != null">usdt_amount = #{usdtAmount},</if>
            <if test="trxAmount != null">trx_amount = #{trxAmount},</if>
            <if test="hashAddressUsdt != null">hash_address_usdt = #{hashAddressUsdt},</if>
            <if test="hashAddressTrx != null">hash_address_trx = #{hashAddressTrx},</if>
            <if test="rechargeTotal != null">recharge_total = #{rechargeTotal},</if>
            <if test="withdrawTotal != null">withdraw_total = #{withdrawTotal},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWalletPlayerDataById" parameterType="String">
        delete from t_wallet_player_data where id = #{id}
    </delete>

    <delete id="deleteWalletPlayerDataByIds" parameterType="String">
        delete from t_wallet_player_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>